<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alterar Senha — SIGNA</title>

  <link rel="stylesheet" href="../static/css/global.css" />
  <link rel="stylesheet" href="../static/css/header.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
  <link rel="stylesheet" href="../static/css/alterar.css" />
</head>

<body>

  <div id="app"></div>

  <div id="recuperar-senha">
    <section class="step" id="step-email">
      <!-- form de email -->
      <div class="container">
        <div class="header">
          <div class="line">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M8.00016 12.6666L3.3335 7.99992L8.00016 3.33325" stroke="white" stroke-width="1.33333"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.6668 8H3.3335" stroke="white" stroke-width="1.33333" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <p>Voltar</p>
          </div>
          <h1>Alterar Senha</h1>
          <p>Enviaremos um código de verificação para seu email</p>
        </div>
        <form method="POST" class="alterar-form">
          <label class="form-label" for="email">Email</label>
          <input type="email" class="form-input" name="email" placeholder="seu@email.com" required>
          {% if erro_email %}
          <div class="error-message">
            {{ erro_email }}
          </div>
          {% endif %}
          <button class="alterar-form-btn" type="submit">
            <div class="btn-content">
              <span>Enviar</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M4.16675 10H15.8334" stroke="#8A38F5" stroke-width="1.66667" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="#8A38F5" stroke-width="1.66667"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </button>
        </form>
        <div class="info">
          <h2>Por que preciso verificar meu email?</h2>
          <p>Para garantir a segurança da sua conta, enviamos um código de verificação antes de permitir a alteração da senha.</p>
        </div>
      </div>
    </section>
    <section class="step" id="step-codigo" hidden>
      <!-- form codigo -->
    </section>
    <section class="step" id="step-senha-nova" hidden>
      <!-- form senha nova -->>
    </section>
    <section class="step" id="sucesso" hidden>
      <!-- sucesso -->>
    </section>
  </div>

  <script src="../static/js/components/icons.js"></script>
  <script src="../static/js/components/header.js"></script>
  <script src="../static/js/components/footer.js"></script>
  <script src="../static/js/pages/alterar-senha.js"></script>

</body>

</html>
