@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('opentype');
}


:root {
  --roxo: #8A38F5;
  --amarelo: #FFB830;
  --vermelho: #E11D35;
  --escuro: #1c1c2e;
  --claro: #f0f0f5;
  --font-title: 'Sora', sans-serif;
  --font-text: 'Space Grotesk', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--escuro);
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

/* container geral da página */
#app {
  position: relative;
}

.btn-principal {
  display: flex;
  width: 209px;
  padding: 16px 28px;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(90deg, var(--vermelho) 0%, var(--roxo) 97.47%);
  box-shadow: 0 0 4px 0 rgba(138, 56, 245, 0.12);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-principal:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 20px 50px var(--Bottom, 10px) rgba(15, 15, 24, 0.473);
}

.btn-content {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}

.btn-content span {
  font-family: var(--font-text);
  color: var(--claro);
  font-size: 16px;
  white-space: nowrap;
}

.btn-secundario {
  background: transparent;
  backdrop-filter: blur(50px);
  width: 209px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  font-family: var(--font-text);
  color: var(--claro);
  font-size: 16px;
  white-space: nowrap;
  padding: 16px 28px;
  border-radius: 16px;
  cursor: pointer;
  transition: background 1s;
  z-index: 0;
}

.btn-secundario::after {
  border-radius: 16px;
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(251, 44, 54, 0.25), rgba(138, 56, 245, 0.25));
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.btn-secundario:hover::after {
  opacity: 1;
}

.btn-white {
  background: var(--claro);
  color: var(--escuro);
  border: none;
  padding: 16px 28px;
  border-radius: 16px;
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}