@font-face {
    font-family: 'Sora';
    src: url('../assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('opentype');
}


:root {
    --roxo: #8A38F5;
    --amarelo: #FFB830;
    --vermelho: #E11D35;
    --escuro: #1c1c2e;
    --claro: #f0f0f5;
    --font-title: 'Sora', sans-serif;
    --font-text: 'Space Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-title);
}

body {
    background: var(--escuro);
    align-items: center;
}

.hero {
    min-height: 100vh;
    padding: 56px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {

    width: 100%;
    max-width: 1100px;
    padding: 0 70px;
    text-align: center;
    border-radius: 40px
}

h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.1;
}

.rosa {
    background: linear-gradient(90deg, var(--vermelho), var(--roxo));
    -webkit-background-clip: text;
    color: transparent;
}

.hero p {
    margin-top: 30px;
    font-size: 18px;
    color: var(--claro);
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-text);
}

.botoes {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}


.tecnologia {
    width: 95%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 70px 40px 470px 40px;
    border-radius: 40px 40px 0px 0px;
    background: rgba(49, 63, 134, 0.18);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 60px rgba(86, 118, 255, 0.15);
    text-align: center;
    position: relative;
    z-index: 0;
}

.tecnologia h2 {
    font-size: 48px;
    font-weight: 700;
}

.subtitulo {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.75);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.icone-card {
    display: flex;
    width: 56px;
    height: 56px;
    padding: 12px;
    border-radius: 16px;
    justify-content: center;
    background: linear-gradient(144deg, var(--vermelho) -16.18%, var(--amarelo) 84.38%);
    box-shadow: 0 4px 20px 0 rgba(255, 184, 48, 0.37);
    z-index: 1;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 60px;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 523px;
    height: 242px;
    padding: 30px;
    border-radius: 24px;
    border: 1px solid #fff7e82d;
    background: #0000003a;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.card-bg {
    position: absolute;
    width: 480px;
    height: 200px;
    opacity: 0.3;
    background: var(--amarelo);
    filter: blur(60px);
    pointer-events: none;
    z-index: 0;
}

.card h3 {
    margin-top: 12px;
    z-index: 1;
}

.card p {
    color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

/* BLOCO COLORIDO */

.sinal {
    margin-top: 48px;
    display: flex;
    width: 1620px;
    padding: 100px 142px;
    flex-direction: column;
    align-items: center;
    gap: 86px;
    border-radius: 24px;
    background: linear-gradient(101deg, var(--amarelo) -11.59%, var(--vermelho) 39.87%, var(--roxo) 104.91%);
}

.sinal h2 {
    color: var(--claro);
    text-align: center;
    font-family: var(--font-title);
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sinal p {
    color: var(--claro);
    text-align: center;
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}