* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    background: #0B1736;
    color: white;
    background-image: url(../assets/images/Group\ 238.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* ← fundo fixo enquanto rola */
    color: white;
}

/* HERO */

.hero {
    min-height: 100vh;
    padding: 56px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {

    width: 100%;
    max-width: 1100px;
    padding: 0 70px;
    text-align: center;
    border-radius: 40px
}

h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.1;
}

.rosa {

    background: linear-gradient(90deg,
            #FB2C36,
            #8A38F5);

    -webkit-background-clip: text;
    color: transparent;
}

.hero p {

    margin-top: 30px;

    font-size: 18px;

    color: rgba(255, 255, 255, 0.85);

    max-width: 650px;

    margin-left: auto;
    margin-right: auto;
}

.botoes {

    margin-top: 40px;

    display: flex;

    justify-content: center;

    gap: 15px;
}

button {

    border: none;

    cursor: pointer;

    padding: 14px 28px;

    border-radius: 14px;

    font-weight: 600;
}

.principal {

    background: linear-gradient(90deg,
            #FB2C36,
            #8A38F5);

    color: white;
}

.secundario {

    background: rgba(255, 255, 255, 0.05);

    color: white;

    border: 1px solid rgba(255, 255, 255, 0.12);

    backdrop-filter: blur(10px);
}

/* BLOCO TRANSPARENTE */

.tecnologia {

    width: 95%;

    max-width: 1700px;

    margin: 0 auto 80px auto;

    padding: 70px 40px;

    border-radius: 40px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(30px);

    border: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow:
        0 0 60px rgba(86, 118, 255, 0.15);

    text-align: center;
}

.tecnologia h2 {

    font-size: 48px;

    font-weight: 700;
}

.subtitulo {

    margin-top: 15px;

    color: rgba(255, 255, 255, 0.75);

    max-width: 700px;

    margin-left: auto;
    margin-right: auto;
}

/* CARDS */

.cards {

    display: flex;

    justify-content: center;

    gap: 25px;

    margin-top: 60px;

    flex-wrap: wrap;
}

.card {

    width: 320px;

    height: 140px;

    padding: 25px;

    border-radius: 18px;

    background: rgb(0, 0, 0);
    opacity: 50%;

    border: 1px solid rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(20px);

    box-shadow:
        0 0 40px rgb(255, 180, 50);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: flex-start;
}

.card h3 {

    margin-bottom: 10px;
}

.card p {

    color: rgba(255, 255, 255, 0.75);
}

/* BLOCO COLORIDO */

.sinal {

    margin-top: 80px;

    padding: 100px 40px;

    border-radius: 24px;

    background: linear-gradient(90deg,
            #FFB830,
            #FB2C36,
            #8a38F5);

    text-align: center;
}

.sinal h2 {

    font-size: 42px;

    margin-bottom: 20px;
}

.sinal p {

    max-width: 650px;

    margin: 0 auto;

    color: white;
}

.sinal button {

    margin-top: 40px;

    background: white;

    color: #222;
}